* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}


a{
    color: teal;
    text-decoration: none;
    
}


.header{
    display: flex;
    background-color: teal ;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .5rem;
    border: 2px #8d6bfe solid;
}


.logo{
    width:5rem;
}
nav{
    display: flex;
    justify-content: center;
    gap: .5rem;
}
.btn{
    border: 1px black solid;
    padding: 1rem;
    border-radius: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    
    &.active {
        background-color: aqua;


        & p{
            color: black;
        }
    }
}












.info{
    padding: 0;
    display: flex;
    align-items: center;
    height: 300dvh;
    .bg-img{
        position: absolute;
        z-index: -1;
        width: 60rem;

    }
    .namecard{
        .bg-img2{
        position: absolute;
        z-index: 1;
        width: 35rem;
        transform: translate(45rem, -65rem);
        }
    }

    .content-container{
    display: flow-root;
    transform: translate(14rem, -23rem);
    border: 6px orange solid;
    border-radius: 20px;;
    background-color: yellow;
    padding: 1rem;
    width: 80dvw;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2rem;
        text-transform: uppercase;
        text-align: left;
        height: calc(5dvh - 10rem);
        display: flex;
        justify-content: flex-start;
        margin:1rem, 0;
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
    .content-container2{
    display: flow-root;
    transform: translate(-30rem, -13rem);
    border: 6px orange solid;
    border-radius: 20px;;
    background-color: yellow;
    padding: 2rem;
    width: 9dvw;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    h2{
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        height: calc(6dvh - 6rem);
        display: flex;
        justify-content:center;
        align-items: center;
        margin:1rem, 0;
    }
}
    .skillset {
        display: flow-root;
    .digi{
        position: absolute;
        z-index: 1;
        width: 40rem;
        transform: translate(-37rem, -9rem);
    }
    .eye{
        position: absolute;
        z-index: 1;
        width: 30rem;
        transform: translate(-60rem, -13rem);
    }
    .canvas{
        position: absolute;
        z-index: 1;
        width: 38rem;
        transform: translate(-75rem, -6rem);
    }
}
}

.mid{
    float: inline-end;
    transform: translate(-75rem, -40rem);
    .content-container3{
        border: 6px orange solid;
        border-radius: 20px;;
        background-color: yellow;
        padding: 2rem;
        width: 15dvw;
        margin: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        align-items: center;
        h3{
            color: black;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.5rem;
            text-transform: uppercase;
            text-align: center;
            height: calc(6dvh - 6rem);
            display: flex;
            justify-content:center;
            align-items: center;
            margin:1rem, 0;
        }
    }
}

.info2{
    padding: 0;
    display: flex;
    align-items: center;
    height: 300dvh;
    .bg-img3{
        position: absolute;
        z-index: -1;
        width: 105rem;
        transform: translate(-1rem, -35.5rem);
    }
}

